<div class="card" style="width: 15rem; height:22rem;">
    <img src="{{image}}" class="card-img-top" alt="..." height="200px" width="200px">
    <div class="card-body">
        <h5 class="card-title category-card-title-size">{{title}}</h5>
        <p class="card-text">{{text}}</p>       
        <!-- for system tailoring -->
        {% if system_tailoring %}            
            <a href="{% url 'inventory:update_category' pk=category.pk %}" class="btn btn-primary">Update</a>            
            <a href="{% url 'inventory:delete_category' pk=category.pk %}" class="btn btn-primary">Delete</a>            
        {% else %}            
            <a href="{% url 'inventory:detail_category' pk=category.pk %}" class="btn btn-primary">List</a>            
        {% endif %}
    </div>
</div>