<div class="card" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="..." height="200px" width="200px">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">₱ {{amount}}</h6>
        <h6 class="card-subtitle mb-2 text-muted"> Item condition: {{condition}}</h6>
        <p class="card-text">{{text}}</p>
        <!-- for item menu -->
        {% if button_name|length > 0 %}
        <a href="{{path}}" class="btn btn-primary">{{button_name}}</a>
        {% endif %}
        <!-- for system tailoring -->
        {% if update_button_name|length > 0 %}
            <a href="{{update_path}}" class="btn btn-primary">{{update_button_name}}</a>
        {% endif %}
        {% if delete_button_name|length > 0 %}
            <a href="{{delete_path}}" class="btn btn-primary">{{delete_button_name}}</a>
        {% endif %}
    </div>
</div>