<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Item Details{% endblock %}
{% block content %}    
    <div class="media">
        <img src="{{item.item_image.url}}" class="image-size" alt="...">
        <div class="media-body">
            <h5 class="mt-0">{{item.item_name}}</h5>
            <p>{{item.item_description}}</p>
            <p>{{item.item_price}}</p>
            <p>Number of user dibs: {{item.item_dibs_count}}</p>
            <p class="mb-0">Item condition: {{item.item_condition}}</p>
            <ul>List of users:
                {% for dibs in user_list %}
                    <li>{{dibs.username}}</li>
                {% endfor %}
            </ul>
            <p>Expiry Date: {{expiry_date}}</p>
            <br>
            <br>
            {% if user.is_authenticated %}
                {% if user not in item.item_user_dibs.all and item.item_user_dibs.all|length < 3 %}
                    <a href="{% url 'inventory:item_dibs' pk=item.pk %}" class="btn btn-primary">Dibs!</a>           
                {% elif user in item.item_user_dibs.all %}
                    <!-- Trigger/Open The Modal -->     
                    {% url 'inventory:item_undibs' pk=item.pk as my_url %}
                    {% include 'modal.html' with message="Are you sure you want to undibs the item?" button_name="Undibs" path=my_url %}                    
                {% endif %}  
                <br>
                <br>
                {% if user == user_list|first %}
                    <p>You are the current first dibs!. Please complete the form.</p>
                    <form action="{% url 'inventory:item_dibs_update_redirect' pk=item.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Form</button>
                    </form>                    
                {% endif %}
            {% endif %}            
            <h1>Countdown Clock</h1>
            <div id="clockdiv">
                <div>
                    <span class="days"></span>
                    <div class="smalltext">Days</div>
                </div>
                <div>
                    <span class="hours"></span>
                    <div class="smalltext">Hours</div>
                </div>
                <div>
                    <span class="minutes"></span>
                    <div class="smalltext">Minutes</div>
                </div>
                <div>
                    <span class="seconds"></span>
                    <div class="smalltext">Seconds</div>
                </div>
            </div>
            <script>
                // var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
                var deadline = new Date(Date.parse("{{expiry_date.isoformat}}"));
                initializeClock('clockdiv', deadline);
            </script>
        </div>
    </div>
    {% if messages %}       
        {% for message in messages %}
            <script>
                alert('{{message}}');
            </script>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
