<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Item Details{% endblock %}
{% block content %}    
    <div class="media">
        <img src="{{item.item_image.url}}" class="image-size" alt="...">
        <div class="media-body">
            <h5 class="mt-0">{{item.item_name}}</h5>
            <p>{{item.item_description}}</p>
            <p>{{item.item_price}}</p>
            <p class="mb-0">Item condition: {{item.item_condition}}</p>
            <ul>List of users:
                {% for dibs in user_list %}
                    <li>{{dibs.username}}</li>
                {% endfor %}
            </ul>
            <br>
            <br>
            {% if user.is_authenticated %}
                {% if user not in item.item_user_dibs.all and item.item_user_dibs.all|length < 3 %}
                    <a href="{% url 'inventory:item_dibs' pk=item.pk %}" class="btn btn-primary">Dibs!</a>           
                {% elif user in item.item_user_dibs.all %}
                    <a href="{% url 'inventory:item_undibs' pk=item.pk %}" class="btn btn-primary">Undibs :(</a>
                {% endif %}  
                <br>
                <br>
                {% if user == user_list|first %}
                    <form action="{% url 'inventory:item_dibs_update_redirect' pk=item.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Form</button>
                    </form>                    
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if messages %}       
        {% for message in messages %}            
            <!-- should i use modal from bootstrap here? hmmm -->
            <script>
                alert('{{message}}');
            </script>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
